# MTK project .rc configure

on init
    export USBOTG_STORAGE /storage/usbotg
    export USB_STORAGE_DIR /storage/usbotg
#    export STORAGE_DIR /storage
#    export SECONDARY_STORAGE /storage
    export ISO_STORAGE /storage/loop
    mount tmpfs tmpfs /mnt/media_rw/ mode=0755,uid=1000,gid=1000
    mkdir /mnt/media_rw/usbotg 0700 media_rw media_rw
    mkdir /storage/usbotg 0700 root root
    mount tmpfs tmpfs /storage/usbotg mode=0755,uid=1000,gid=1000	
    mkdir /storage/loop 0700 root root
    mkdir /mnt/media_rw/loop 0700 media_rw media_rw

on post-fs
    insmod /system/lib/modules/tfat.ko
    insmod /system/lib/modules/tntfs.ko
    insmod /system/lib/modules/texfat.ko

on post-fs-data

#
# Connectivity related device nodes & configuration (begin)
#


# WiFi
    mkdir /data/misc/wifi 0770 wifi wifi
    mkdir /data/misc/wifi/sockets 0770 wifi wifi
    mkdir /data/misc/wpa_supplicant 0770 wifi wifi 
    chown wifi wifi /data/misc/wifi

#
# Connectivity related device nodes & configuration (end)
#

    #offline log
    mkdir /data/log 0771 log log
    mkdir /data/aee_exp 0775 log log
    symlink  /data/aee_exp /data/log/aee
    mkdir /data/log/recovery 0771 log log
    #misysdiagnose log
    mkdir /data/diagnosis 0764 system system
    mkdir /data/diagnosis/upload 0764 system system

# Encrypt phone function
    setprop vold.post_fs_data_done 1

on boot
    # Refer to http://source.android.com/devices/tech/storage/index.html
    # It said, "Starting in Android 4.4, multiple external storage devices are surfaced to developers through 
    #           Context.getExternalFilesDirs(), Context.getExternalCacheDirs(), and Context.getObbDirs().
    #           External storage devices surfaced through these APIs must be a semi-permanent part of the device (such as an SD card slot in a battery compartment).
    #           Developers expect data stored in these locations to be available over long periods of time."
    # Therefore, if the target has the SD card slot in a battery compartment, we need to specify SECONDARY_STORAGE (*** UN-Comment the following command ***)
    # 
    # export SECONDARY_STORAGE /storage/sdcard1

    # MITV bringup, 2015-07-17, tmply
    setenforce 0

service fuse_usbotg /system/bin/sdcard -u 1023 -g 1023 -w 1023 -d /mnt/media_rw/usbotg /storage/usbotg
    class late_start
    disabled

service fuse_loop /system/bin/sdcard -u 1023 -g 1023 -w 1023 -t 4 -d /mnt/media_rw/loop /storage/loop
    class late_start
    disabled

#
# Connectivity related services (Begin)
#
on property:wlan.driver.status=ok
	write /sys/kernel/debug/mtwifi/wlan0/nvram "1"

service p2p_supplicant /system/bin/wpa_supplicant \
	-iwlan0 -Dnl80211 -c/data/misc/wifi/wpa_supplicant.conf \
	-I/system/etc/wifi/wpa_supplicant_overlay.conf -N \
	-ip2p0 -Dnl80211 -c/data/misc/wifi/p2p_supplicant.conf -e/data/misc/wifi/entropy.bin -ddd \
	-I/system/etc/wifi/p2p_supplicant_overlay.conf \
	-O/data/misc/wifi/sockets -g@android:wpa_wlan0
	#   we will start as root and wpa_supplicant will switch to user wifi
	#   after setting up the capabilities required for WEXT
	#   user wifi
	#   group wifi inet keystore
	class main
	socket wpa_wlan0 dgram 660 wifi wifi
	disabled
	oneshot

service wpa_supplicant /system/bin/wpa_supplicant \
	-iwlan0 -Dnl80211 -c/data/misc/wifi/wpa_supplicant.conf -e/data/misc/wifi/entropy.bin -ddd \
	-I/system/etc/wifi/wpa_supplicant_overlay.conf \
	-O/data/misc/wifi/sockets -g@android:wpa_wlan0
	#   we will start as root and wpa_supplicant will switch to user wifi
	#   after setting up the capabilities required for WEXT
	#   user wifi
	#   group wifi inet keystore
	class main
	socket wpa_wlan0 dgram 660 wifi wifi
	disabled
	oneshot

service ethernet /system/bin/ethernet
    class main
    user root
    group system
    oneshot

#add for reset    
on property:reset.wifi.service=1     
    start restart_wifi
    
service restart_wifi  /system/bin/restart_wifi.sh
	disabled
    oneshot
	seclabel u:r:mt_restart_wifi:s0	
#
# Connectivity related services (End)
#

#offline log
service logservice /system/bin/logcat  -K -b main -b system -b events -r2000 -n 20 -v threadtime -f /data/log/logcat.log 
   class main
   user  log
   group log
   seclabel u:r:logcat:s0

service smbd /system/bin/smbd
    class main
    user root
    group system
    disabled

#cts workaround
on property:sys.cts.running=true
   stop smbd
   rm /mnt/smb/smb

service bdupdate /system/bin/bluetoothdeviceserver_daemon
    class main
    user system
    group system

service misysdiagnose /system/bin/misysdiagnose
    class main
    user root
    disabled
    oneshot
    seclabel u:r:misysdiagnose:s0

